<div class="column">
	<h1>News</h1>
	<h2>April 18, 2012</h2>
	<p>LOL, the quick updates idea behind this "News" section hasn't really played out as I was expecting. I didn't really keep you in the loop as to how the Walk-through blog series was progressing.</p>

	<p>Anyway I just posted the next blog in the series. Give it a look-see.</p>

	<p>The upcoming part certainly won't be for a while, as I'm busy for the next two weeks. Then I actually have to find the time to build the code for it!</p>
	<p>I am heading to rails conf this coming week so I'll probably put out some smaller blogs, about that, in the meantime.</p> 
	<p></p>
	<h2>April 02, 2012</h2>
	<p>If you've visited my site before you'll notice I removed the <i>'Current Projects'</i> section and replaced it with this news column. It seemed more appropriate to give you quick updates on what I've done or what I am planning to do.</p>
	<p>So what do I have for you?</p>
	<p>I've been playing more with Rack apps, and wrote one to solve a problem at work. We had a large list of old routes that needed to be redirected and we didn't want them cluttering up our Rails route file.</p>
	<p>Handling the redirects with a middleware app seemed like a great solution and a good excuse for me to get a rack app introduced into our code base.</p>
	<p>Check it out here <a href="https://github.com/dvallance/Rack-Redirector">Rack-Redirector</a>; currently its just the source code but I'll add some documentation to it when I can.</p>
</div>
<div class="column">
	<h1>Blog Posts</h1>
	<p>I plan on writing a lot about the technologies I work and play with, possibly with a smattering of other topics thrown in.</p>
	<p>For my first post, what better to write about than my experience with Jekyll. Jeykll is a static site generator, which I used to create this site.</p>

	<h2>Recent Blog Posts</h2>
	<ul class="recent">

		<li><a href="/blog/part-one-walkthrough-how-to-build-a-modular-web-application-with-ruby">Part One: Walk-through, How to Build a Modular Web Application with Ruby</a>&nbsp;&nbsp;<span class="small">18 Mar 2012</span></li>

		<li><a href="/blog/walkthrough-how-to-build-a-modular-web-application-intro">Introduction: Walk-through, How to Build a Modular Web Application with Ruby</a>&nbsp;&nbsp;<span class="small">06 Mar 2012</span></li>

		<li><a href="/blog/jeykll-how-post-naming-works">Default Naming Conventions of Posts in Jeykll</a>&nbsp;&nbsp;<span class="small">06 Mar 2012</span></li>

		<li><a href="/blog/installing-an-operating-system-on-a-zotac-nano-ad10">Installing An Operating System On A Zotac Nano Ad10</a>&nbsp;&nbsp;<span class="small">26 Feb 2012</span></li>

		<li><a href="/blog/getting-started-with-jeykll">Getting Started With Jeykll</a>&nbsp;&nbsp;<span class="small">17 Feb 2012</span></li>

	</ul>
</div>
<div class="column">
	<h1>Who am I?</h1>  
	<p>What an existential question! ...where can I possibly begin?</p>
	<h2>Lets keep it related to Technology</h2>
	<p>I've been working in IT for over twenty years now, and while dabbling with all sorts of technologies in that time, I have primarily been a website developer.</p> 
	<p>Two years ago I looked into the "Rails" framework. It introduced me to the Ruby programming language; which is now my language of choice! I absolutely love it. 
	</p>
	<p>
	My relationship with Rails on the other hand, while good, didn't quite fulfill my needs. I've put her in the "friends zone", while I seek a new, more fulfilling relationship with Sinatra. Sinatra just understands my emotional needs more and is open to my own ideas. She's very easy going and not judgemental in the slightest. Sinatra is also in better shape, although I like her for her personality and not just her slim figure ;)</p>  
</div>
